.signup-container {
    @apply flex items-center justify-center min-h-screen bg-gray-100;
  }
  
  .signup-box {
    @apply w-full max-w-xs px-4 py-6 mx-auto bg-white shadow rounded-lg sm:px-6 sm:py-8 md:max-w-sm lg:max-w-md xl:max-w-lg 2xl:max-w-xl;
    box-shadow: -10px 10px 30px 0 rgba(0, 0, 0, 0.1);}
  
  .input-group {
    @apply flex items-center mt-4;
  }
  
  .input-icon {
    @apply mr-2 h-5 w-5 flex-shrink-0 text-green-500;
  }
  
  .title {
    @apply text-xl font-bold text-center sm:text-2xl text-gray-700;
  }
  
  .form-input {
    @apply w-full px-3 py-2 mt-2 border border-gray-200 rounded-full focus:outline-none focus:ring focus:ring-green-600 sm:px-4 sm:py-3;
    box-shadow: inset -4px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .submit-btn {
    @apply px-4 py-2 mt-4 text-white bg-green-500 rounded-lg hover:bg-green-600 sm:px-6 sm:py-3;
  }

  .is-admin-button {
    @apply mr-2 text-blue-700;
  }
  
  
  